:root {
    --bg: #DAE3E5;
    --card: #FFFFFF;
    --primary: #507DBC;
    --secondary: #A1C6EA;
    --dark: #04080F;
    --fade: #BBD1EA;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg);
}

.container{
    width: fit-content;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--card);
    border-radius: 1.5rem;
}

.header{
    text-align: center;
    color: var(--primary);
}

input{
    background-color: var(--fade);
    border: 2px solid var(--secondary);
    border-radius: 0.3rem;
    color: var(--primary);
    padding: 0.1rem;
    font-size: large;
}

input:focus, textarea:focus{
    outline-color: var(--primary);
    color: var(--primary);
}

.btn{
    border-radius: 0.5rem;
    padding: 0.3rem;
}